.list {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;

    scrollbar-color: transparent transparent !important;

    &::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }
}

.item {
    position: absolute;
    height: 60px;
    background-color: dodgerblue;
}