:root {
  --hue: 223;

  --bg1: hsl(var(--hue), 10%, 90%);
  --bg2: hsl(var(--hue), 10%, 80%);

  --fg1: hsl(var(--hue), 10%, 10%);
  --fg2: hsl(var(--hue), 10%, 20%);

  --primary: hsl(var(--hue), 90%, 55%);
  --secondary: hsl(var(--hue), 90%, 45%);

  font-size: calc(20px + (40 - 20) * (100vw - 320px) / (1280 - 320));
}

button, button > * {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  background-color: transparent;
  border-radius: 1.5em;

  display: block;
  position: relative;
  width: 7.5em;
  height: 3em;
  transition: width 0.3s ease-in-out;
  will-change: width;

  &:not(:disabled):active {
    transform: translateY(0.1em);
  }

  &:not(:disabled):focus .buttonText,
  &:not(:disabled):hover .buttonText {
    background-color: var(--secondary);
  }
}

.buttonText {
  background-color: var(--primary);
  border-radius: inherit;
  color: hsl(0, 0%, 100%);

  display: inline-block;
  padding: 0.75em 1.5em;

  transition: background-color 0.15s linear, color 0.15s 0.3s ease-in-out;
  width: 100%;
  will-change: background-color, color;
}

.buttonProgress {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em;
  visibility: hidden;
}
