.valueWrapper {
  display: flex;
  align-items: center;

  height: 48px;
  border-radius: 8px;
  border: 1px solid #e5e7ed;
  transition: color 0.15s;

  will-change: transition, border;

  &.isOpen {
    border-radius: 8px 8px 0 0;
  }

  &.noBorder {
    border: 1px solid transparent;

    &.isOpen {
      border: 1px solid #e5e7ed;
      border-radius: 8px 8px 0 0;
    }
  }
}

.dropdown {
  position: relative;
  border-radius: 8px 8px 0 0;

  user-select: none;
  outline: none;
  cursor: pointer;

  &:hover(.valueWrapper), &:focus(.valueWrapper) {
    color: #6a80f5;
  }

  &.compact {
    font-size: 15px;
  }

  &.disabled {
    cursor: initial;

    & * {
      cursor: initial !important;
    }

    &:hover, &:focus p {
      color: #a5a7bd !important;
    }

    p {
      color: #a5a7bd !important;
    }
  }
}

.basicValue {
  flex-grow: 1;
  padding-left: 16px;
  user-select: none;
}

.itemsList {
  position: absolute;
  max-height: 40vh;
  width: 100%;

  border: 1px solid #e5e7ed;
  border-top: none;
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;

  overflow-y: auto;
  z-index: 5;
}

.listItem {
  justify-content: space-between;
}

.checked {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #6a80f5;
}
