* { box-sizing: border-box; }

@keyframes moveWrapper {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  10% {
    transform: rotate(180deg) scale(1.5);
    opacity: 0;
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  20% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  50% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  60% {
    transform: rotate(180deg) scale(1.5);
    opacity: 0;
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  70% {
    transform: rotate(0) scale(1);
    opacity: 1;
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }
}

@keyframes moveTriangle {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0) scale(1);
    background-image: url("https://unsplash.com/photos/Vl01e7aXHaQ");
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  10% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg) scale(0);
    background-image: url("https://unsplash.com/photos/Vl01e7aXHaQ");
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  20% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) scale(1);
    background-image: url("https://unsplash.com/photos/PwsTaHyuvgY");
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  50% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) scale(1);
    background-image: url("https://unsplash.com/photos/PwsTaHyuvgY");
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  60% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg) scale(0);
    background-image: url("https://unsplash.com/photos/PwsTaHyuvgY");
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  70% {
    transform: rotateX(0) rotateY(0) rotateZ(0) scale(1);
    background-image: url("https://unsplash.com/photos/Vl01e7aXHaQ");
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }

  100% {
    transform: rotateX(0) rotateY(0) rotateZ(0) scale(1);
    background-image: url("https://unsplash.com/photos/Vl01e7aXHaQ");
    animation-timing-function: cubic-bezier(.85, .17, .19, .95);
  }
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
  height: 50vmin;
  width: 50vmin;

  border-radius: 50%;
  overflow: hidden;

  > .root {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    background-image: url("https://unsplash.com/photos/Vl01e7aXHaQ");
    background-size: 0 0;
    background-repeat: no-repeat;
    background-color: yellow;

    will-change: transform, opacity;
    animation: moveWrapper 10s linear infinite;
  }

  > .root > .image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-image: url("https://unsplash.com/photos/PwsTaHyuvgY");
    background-position: 50% 50%;
    background-size: cover;
    background-color: grey;

    will-change: transform;
    animation: moveTriangle 10s linear infinite;
  }
}
