.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 40px;
}

.guessesList {
    margin-top: 10px;
}

.guessVariant {
    display: flex;
    gap: 8px;
}

.guessIndex {
    width: 30px;
    text-align: end;
}

.inputBlock {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}
