$color-bg: #9095B9;

.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-bg;
}

*, *:before, *:after {
    box-sizing: border-box;
    position: relative;
}

.c {
    display: flex;
    border: 1px solid red;
    width: 200px;
}

.o {
    height: 44px;
    flex: 1;
    background-color: #646cff;
}

.t {
    height: 44px;
    background-color: greenyellow;
}
