.forecast {
  display: inline-flex;
  height: 20px;
  margin-bottom: 6px;
  margin-left: 20px;
}

.forecast > span {
  display: inline-flex;
  align-items: center;
  color: white;
}

.forecast > .forecastValue {
  font-size: 1.5em;
  height: 20px;
  margin-left: 5px;
}

.forecast > .forecastUnit {
  align-items: flex-start;
  font-size: 0.8em;
  margin-left: 3px;
}